    <div id="menu">
      <a href="/home"<% if(page === 'home') { %> class="selected"<% } %>>Home</a>
      <a href="/projects"<% if(page === 'projects') { %> class="selected"<% } %>>Projects</a>
      <a href="/people"<% if(page === 'people') { %> class="selected"<% } %>>People</a>
      <a href="/media"<% if(page === 'media') { %> class="selected"<% } %>>Media</a>
      <a href="/sponsors"<% if(page === 'sponsors') { %> class="selected"<% } %>>Sponsors</a>
    </div>