    <div id="menu">
      <a href="/home"<% if(page === 'home') { %> class="selected"<% } %>>Home</a>
      <a href="/events"<% if(page === 'events') { %> class="selected"<% } %>>Events</a>
      <a href="/people"<% if(page === 'people') { %> class="selected"<% } %>>People</a>
      <a href="/media"<% if(page === 'media') { %> class="selected"<% } %>>Media</a>
      <a href="/sponsors"<% if(page === 'sponsors') { %> class="selected"<% } %>>Sponsorship</a>
      <a href="http://www.facebook.com/groups/hackberkeley/">Facebook</a>
      <a href="https://github.com/HackBerkeley">Github</a>
    </div>