<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$("#addField").click( function() {
			$("#nameFields").append('<input type="text" name="name[]" required placeholder="Name"><a href="#" class="removeField">-</a><br/>');
		});
		$(".hackForm").on("click", ".removeField", function( ) {
      console.log(this);
			$(this).prev().remove();
			$(this).next().remove();
      $(this).remove();
      return false;
		});
	});
</script>

<div class="wrap">
  <h1>Submit your Hack!</h1>
  <div class="box">
  <form class="hackForm" action="hackjam" method="post">
  <div class="hackFormColumn1">
    <input type="text" name="project_name" required placeholder="Project Name"><br> 
    <div id="nameFields">
      <input type="text" name="name[]" required placeholder="Name">
      <div class="addButton"><a href="#" onclick="return false;" id="addField">+</a></div>
    </div>
  </div>
  <div class="hackFormColumn2">
    <input type="text" name="email" required placeholder="Email"><br>
    <input type="text" name="screenshot" required placeholder="Screenshot URL"><br>
    <input type="text" name="demo" placeholder="Demo/Repo"><br>
    <input class="button longsmallbtn greenbtn" type="submit" value="Submit">
  </div>
  <div class="betterClear"></div>  
  </form>
  <div class="betterClear"></div>  
</div>
</div>