<div id="content">
  <img src="/images/Soda.jpg" width="660px">
    <h1>Hello</h1>
    <div class="box">
      What the fuck are we listening to? Where are we? What are we? How are you?
    </div>
</div>