
<div id="content">
  <img src="/images/Soda.jpg" class="image">
  <p align="center">
    Get notified of Hack events, meetups, hangouts, and special opportunities<br>
    Sign up for the mailing list <input type="text" name="email" id="emailhome" size="18" placeholder="Your email">
    <input type="submit" value="Submit" id="mailinglisthome">
  </p>
  <h1>Welcome to Soda</h1>
  <div class="box">
    <p>You're not here to do problem sets. You're here because you want to build.</p>
     
    <p>Hackers @ Berkeley is here to help you, whether you want to learn practical coding skills, find partners to work with, or promote your project. We're an organization that fosters a culture of creation at Berkeley.</p> <p>And we want you to hack with us.</p>
  </div>
</div>