<!DOCTYPE HTML> 
<html lang="en"> 
<head> 
<title>Hackers at Berkeley</title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us"> 

<link href="/css/style.css" rel="stylesheet" type="text/css"> 
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script> 
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27141510-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

window.fbAsyncInit = function() {
          FB.init({
            appId      : "272344356183606",
            status     : true, 
            cookie     : true,
            xfbml      : true,
            oauth      : true,
          });
        };
        (function(d){
           var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           d.getElementsByTagName('head')[0].appendChild(js);
         }(document));

</script>
</head> 
 
<body>
<div id="fb-root"></div>
<div class="fb-login-button" scope="user_events">Login with Facebook</div>

<div id="helpMeImStuck">
<div id="header">
  <a href="/"><div id="logo"><span id="stayblack">HACK</span><span class="blue light">BERKELEY</span></div> </a>
</div>
<%-partial('partials/gloss.ejs')%>
<%-body%>
<div class="clear"></div>
</div>
<div id="footer">Sign up for the mailing list: 
  <input type="text" name="email" id="email" size="18" placeholder="hackers@berkeley.edu">
  <input type="submit" value="Go" id="mailinglist"><br>
  <strong><a href="#">Back to top</a></strong></div>

<form id="list" action="http://3wt.us/sub.php" method="post"><input type="hidden" name="e" id="e"></form>
</body> 
</html> 
