<!DOCTYPE HTML> 
<html lang="en"> 
<head> 
<title></title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us"> 

<link href="css/style.css" rel="stylesheet" type="text/css"> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>  
<script type="text/javascript" src="js/jquery.color.js"></script>  
<script type="text/javascript">

$(window).load(function(){

  $("#topmenu a").mouseenter(function() {
    $("#topmenu a").stop().animate({"color": '#4e6e74'});
    $("#bg").stop().animate({
      "left" : $(this).position().left + 250,
      "width" : $(this).width() + 30
    });
    $(this).stop().delay(150).animate({"color": '#fafbe7'});
  });
  
  var curLink = $('#topmenu a[href="/<%-page%>"]');
  $("#bg").css({
    "left" : curLink.position().left + 250,
    "width" : curLink.width() + 30
  });
});

</script>
</head> 
 
<body> 
<div id="wrap">
<div id="sidebar">
  <div class="namecontainer">
    <div id="lefttitle" class="name">
      hack
    </div>
  </div>
  <p align="right">
    Shameless bragging.
  </p>
  <br>
  <div align="center">
  <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=300&amp;wkst=1&amp;bgcolor=%23fafbe7&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="200" height="300" frameborder="0" scrolling="no"></iframe></div>
</div>
<div id="main">
  <div class="namecontainer">
    <div id="righttitle" class="name">
      <span id="otherfont">@</span>BERKELEY
    </div>
  </div>  
  <div id="bg"></div>
  <div id="topmenu">
    <a href="/home"<% if(page === 'home') { %> class="selected"<% } %>>Home</a>
    <a href="/projects"<% if(page === 'projects') { %> class="selected"<% } %>>Projects</a>
    <a href="/people"<% if(page === 'people') { %> class="selected"<% } %>>People</a>
    <a href="/media"<% if(page === 'media') { %> class="selected"<% } %>>Media</a>
    <a href="/sponsors"<% if(page === 'sponsors') { %> class="selected"<% } %>>Sponsors</a>
  </div>
  
  <%-body%>
  
</div>
</div>

</body> 
</html> 
