<div class="wrap">
  <h1>This is what we do</h1>
  <div class="box">
    <p>We take great pride in being able to record every event photographically. Here's our collection.</p>
    <p></p>
  </div>
  <h1>Albums</h1>
  <div id="albums">
  <% for(var i in albums) { var album = albums[i]; %>
    <a href="/photos" onclick="<% selectedalbum = album; %>"><div class="album" id="<%-album.id%>">
    <div class="albumimage" style="background-image: url('<%-album.icon%>');"></div> 
    <div class="albumtitle"><%=album.name%></div></a>
    
    <!-- var eyedee = '#' + album.id; document.getElementById(eyedee).click( function() { selectedalbum = album } ); -->
  </div>
  <% } %>
  
  
  </div>
</div>