<div class="wrap">
  <h1>This is who we are</h1>
  <div class="box">
    <p>As a community of hackers, we try our best to not have a rigid hierarchy. However, these are the people who get things done, keep things running, and keep the food trunk full.</p>
    <p></p>
  </div>
  <h1>This is who to contact</h1>
  <div class="box">
    <p><strong>Workshops Team:</strong> workshops@hackersatberkeley.com</p>
    <p><strong>Internships Team:</strong> internships@hackersatberkeley.com, companies@hackersatberkeley.com</p>
    <p><strong>Entrepreneurial Team:</strong> startups@hackersatberkeley.com</p>
    <p><strong>Everyone:</strong> team@hackersatberkeley.com</p>
    <p></p>
  </div>
  <h1>2012-2013 Leadership Team</h1>
  <h2>Industrial Relations</h2>
  <div class="peoplepersons">
    <div class="people">
      <div class="personimage" style="background-image: url('/images/people/gf.jpg');"></div> 
      <div class="persontitle">Gerald Fong</div>
    </div>
    <div class="people">
      <div class="personimage" style="background-image: url('/images/people/ah.jpg');"></div> 
      <div class="persontitle">Alex Hu</div>
    </div>
    <div class="people">
      <div class="personimage" style="background-image: url('/images/people/vs.jpg');"></div> 
      <div class="persontitle">Vaishaal Shankar</div>
    </div>
    <div class="people">
      <div class="personimage" style="background-image: url('/images/people/rp.jpg');"></div> 
      <div class="persontitle">Romi Phadte</div>
    </div>
 <!--   <a href="http://tarunchaudhry.com/">
    <div class="people">
      <div class="personimage" style="background-image: url('/images/people/tc.jpg');"></div> 
      <div class="persontitle">Tarun Chaudhry</div>
    </div>
    </a>
-->
  </div>
  <h2>Media</h2>
  <div class="peoplepersons">
    <a href="http://www.michellebu.com">
    <div class="people">
      <div class="personimage" style="background-image: url('/images/people/mb.jpg');"></div> 
      <div class="persontitle">Michelle Bu</div>
    </div>
    </a>
    <a href="http://www.vedantk.com">
    <div class="people">
      <div class="personimage" style="background-image: url('/images/people/vk.png');"></div> 
      <div class="persontitle">Vedant Kumar</div>
    </div>
    </a>
  </div>
  <div class="people">
    <div class="personimage" style="background-image: url('/images/people/rz.jpg');"></div> 
    <div class="persontitle">Richie Zeng</div>
  </div>
  <div class="people">
    <div class="personimage" style="background-image: url('/images/people/qs.jpg');"></div> 
    <div class="persontitle">Quinn Shen</div>
  </div>
  <div class="people">
    <div class="personimage" style="background-image: url('/images/people/hm.jpg');"></div> 
    <div class="persontitle">Thanh Hai Ma</div>
  </div>
  <h2>Operations</h2>
  <div class="peoplepersons">
    <div class="people">
      <div class="personimage" style="background-image: url('/images/people/at.jpg');"></div> 
      <div class="persontitle">Ajay Tripathy</div>
    </div>
    <a href="http://ericzhang.com">
    <div class="people">
      <div class="personimage" style="background-image: url('/images/people/ez.jpg');"></div> 
      <div class="persontitle">Eric Zhang</div>
    </div>
    </a>
    <div class="people">
      <div class="personimage" style="background-image: url('/images/people/iw.jpg');"></div> 
      <div class="persontitle">Iris Wang</div>
    </div>
    <div class="people">
      <div class="personimage" style="background-image: url('/images/people/hb.jpg');"></div> 
      <div class="persontitle">Henry Bradlow</div>
    </div>

<!--   <div class="people">
      <div class="personimage" style="background-image: url('/images/people/rm.jpg');"></div> 
      <div class="persontitle">Ritik Malhotra</div>
    </div>-->
  </div>
  <h2>Student Relations</h2>
  <div class="peoplepersons">
<!--    <div class="people">
      <div class="personimage" style="background-image: url('/images/people/ad.jpg');"></div> 
      <div class="persontitle">Achal Dave</div>
    </div>
-->

    <div class="people">
      <div class="personimage" style="background-image: url('/images/people/nz.jpg');"></div> 
      <div class="persontitle">Nelson Zhang</div>
    </div>
    <div class="people">
      <div class="personimage" style="background-image: url('/images/people/tw.jpg');"></div> 
      <div class="persontitle">Tim Wu</div>
    </div>
    <div class="people">
      <div class="personimage" style="background-image: url('/images/people/el.jpg');"></div> 
      <div class="persontitle">Elizabeth Lin</div>
    </div>
   <!-- <div class="people">
      <div class="personimage" style="background-image: url('/images/people/jw.jpg');"></div> 
      <div class="persontitle">Jamin Wong</div>
    </div>-->
    <div class="people">
      <div class="personimage" style="background-image: url('/images/people/kh.jpg');"></div> 
      <div class="persontitle">Kevin Hwang</div>
    </div>
    <a href="http://www.rodneyfolz.com">
    <div class="people">
      <div class="personimage" style="background-image: url('/images/people/rf.jpg');"></div> 
      <div class="persontitle">Rodney Folz</div>
    </div>
    </a>

  </div>
  <h2>Workshops</h2>
  <div class="peoplepersons">
    <div class="people">
      <div class="personimage" style="background-image: url('/images/people/lc.jpg');"></div> 
      <div class="persontitle">Larry Cao</div>
    </div>
    <div class="people">
      <div class="personimage" style="background-image: url('/images/people/pg.jpg');"></div> 
      <div class="persontitle">Peter Gao</div>
    </div>
    <div class="people">
      <div class="personimage" style="background-image: url('/images/people/sv.jpg');"></div> 
      <div class="persontitle">Sharad Vikram</div>
    </div>
    <div class="people">
      <div class="personimage" style="background-image: url('/images/people/ak.jpg');"></div> 
      <div class="persontitle">Alex Kern</div>
    </div>
   <!--
       <div class="people">
      <div class="personimage" style="background-image: url('/images/people/mw.jpg');"></div> 
      <div class="persontitle">Michael Wee</div>
    </div>
   <div class="people">
      <div class="personimage" style="background-image: url('/images/people/sy.jpg');"></div> 
      <div class="persontitle">Steve Yadlowsky</div>
    </div>-->
  </div>  
    <!--

    
    
 

  
  </div>
    


    
    -->

    
 
  

  
  
  

  

  
  
  
  
  
  

  
  </div>
</div>