<div id="content">
  <div class="minheight" id="people">
  <h2>Erica Chang</h2>
  <div class="box">
    <img src="/images/ez.jpg" class="icon">
    <span class="bios">
      <span class="awesomebio">Position:</span> "Doesn't Give a Fuck";<br>
      <span class="awesomebio">Bio:</span> "I enjoy things.";<br>
      <span class="awesomebio">Likes to code:</span> "Haro.";<br>
      <span class="awesomebio">Quote:</span> "yo dude";<br>
      <span class="awesomebio">Year:</span> 2013;<br>
    </span>
  </div>
  </div>
</div>