<div id="content">
  <h2>filler<p class="byline">created by lol, somemonth 2011</p></h2>
  <div id="projects">
  <div class="box">
    <img src="/images/rb.jpg" class="proj">
    This was something shitty that was made in the vicinity of less shitty things. It does some random stuff that doesn't really work but at least it looks sorta cool. It was developed on something that didn't really run and is hosted on someplace that isn't exactly active.
  </div>
  </div>
</div>