<div class="wrap">
  <h1>past event sponsors</h1>
  <div class="sponsors">
    <a href="http://www.beautylish.com"><div class="sponsor" style="background-image: url('/images/sponsors/beautylish.jpg');"></div></a>
    <a href="http://www.github.com"><div class="sponsor" style="background-image: url('/images/sponsors/github.png');"></div></a>
    <a href="http://www.flotype.com"><div class="sponsor" style="background-image: url('/images/sponsors/flotype.jpeg');"></div></a>
    <a href="http://www.rewardme.com"><div class="sponsor" style="background-image: url('/images/sponsors/rewardme.png');"></div></a>
    <a href="http://www.twitter.com"><div class="sponsor" style="background-image: url('/images/sponsors/twitter.jpg');"></div></a>
    <a href="http://www.rackspace.com"><div class="sponsor" style="background-image: url('/images/sponsors/rackspace.jpg');"></div></a>
    <a href="http://www.google.com"><div class="sponsor" style="background-image: url('/images/sponsors/google.jpeg');"></div></a>
	<a href="http://www.box.com"><div class="sponsor" style="background-image: url('/images/sponsors/box.png');"></div></a>
	<a href="http://www.twilio.com"><div class="sponsor" style="background-image: url('/images/sponsors/twilio.png');"></div></a>
	<a href="http://www.10gen.com"><div class="sponsor" style="background-image: url('/images/sponsors/10gen.png');"></div></a>
	<a href="http://www.baincapital.com"><div class="sponsor" style="background-image: url('/images/sponsors/bain.png');"></div></a>
    <a href="http://www.greylock.com"><div class="sponsor" style="background-image: url('/images/sponsors/greylock.jpg');"></div></a>
	<a href="http://www.leapmotion.com"><div class="sponsor" style="background-image: url('/images/sponsors/leap.jpg');"></div></a>
	<a href="http://www.lookout.com"><div class="sponsor" style="background-image: url('/images/sponsors/lookout.png');"></div></a>
  </div>
  <div class="clear"></div>
  <h1>You can too</h1>
  <div class="box">
    <p>Send an email to <strong>ir@hackersatberkeley.com</strong>.</p>
  </div>
</div>
