<div id="content">

  <h1>Work with the best hackers from Cal</h1>
  <div class="box">
    <p>Hackers @ Berkeley is a student-run organization providing community and support for undergraduate students interested in computer science. Rather than a general social group for the community at large, Hack draws upon the technical talent of the student body to produce innovative technology outside of the classroom.</p><p>Frequent events focus on fostering development of the projects members are developing, helping students find enriching internships and helping them transform their classroom knowledge and creativity to real world applications. </p>
  </div>
  <img src="/images/pizza.jpg">
  <h1>Sponsorship opportunities</h1>
  <div class="box">
    <p>Help us provide pizza and drinks for our hackers! Contact us: asdf@asdf.com </p>
  </div>
</div>