<div class="wrap">
  <h1>These people support us</h1>
  <div class="box">
    <img src="http://static.cdn.beautylish.com/images/beautylish_logo_300x120.jpg">
  </div>
  <h1>You can too</h1>
  <div class="box">
    <p>Contact Gerald Fong at geraldfong@berkeley.edu.</p>
  </div>
</div>