<div class="wrap">
  <h1>past event sponsors</h1>
  <div class="sponsorsbox box">
    <img src="/images/sponsors/beautylish.jpg"><img src="/images/sponsors/github.png">
  </div>
  <h1>You can too</h1>
  <div class="box">
    <p>Contact Gerald Fong at <strong>geraldfong@berkeley.edu</strong>.</p>
  </div>
</div>