body{
    text-align:center;
    margin:0 auto;
    font-family: Verdana, Tahoma, sans-serif;
    
    background-image: linear-gradient(bottom, rgb(209,209,209) 10%, rgb(255,255,255) 55%);
    background-image: -o-linear-gradient(bottom, rgb(209,209,209) 10%, rgb(255,255,255) 55%);
    background-image: -moz-linear-gradient(bottom, rgb(209,209,209) 10%, rgb(255,255,255) 55%);
    background-image: -webkit-linear-gradient(bottom, rgb(209,209,209) 10%, rgb(255,255,255) 55%);
    background-image: -ms-linear-gradient(bottom, rgb(209,209,209) 10%, rgb(255,255,255) 55%);

    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.1, rgb(209,209,209)),
	color-stop(0.55, rgb(255,255,255))
    );
}

#container{
    margin: 0 auto;
    width:80%;
}

#timer{
    margin-top:200px;
}

input {
    width: 500px;
    height: 70px;
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 25px/100% Verdana, Tahoma, sans-serif;
    background: #FFFFFF url('bg_form.png') left top repeat-x;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

input:hover, input:focus { 
    border-color: #C9C9C9; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

.submit input {
    width: auto;
    padding: 9px 15px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#timer .time{
    font-size:100pt;
}

#timer .time-text{
    font-size:20pt;
}

#timer p{
    padding:0;
    margin:0;
}

table#leaderboard{
    width:100%;
    font-size:20pt;

    border-top:1px solid #e5eff8;
    border-right:1px solid #e5eff8;
    margin:1em auto;
}



table#leaderboard td {
    color:#678197;
    border-bottom:1px solid #e5eff8;
    border-left:1px solid #e5eff8;
    padding:.3em 1em;
    text-align:center;
}

thead th {
    background:#f4f9fe;
    text-align:center;
    font:bold 1.2em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    color:#66a3d3;
}

tr.odd td {
    background:#f7fbff
}
tr.odd .column1 {
    background:#f4f9fe;
}
.column1 {
    background:#f9fcfe;
}


h1{
    text-shadow: 0px 1px 0px #e5e5ee;
}

.correct {
    color:#41A317;
}

.wrong {
    color:#800517;
}

#result{
    font-size:30pt;
}

#next-button{
    width:80%;
    height:80%;
    font-size:50pt;
}

.hidden{
    display:none;
}